# Example local environment settings for Forever Fair
# This file gives the name of your data directory to the web app.
# Copy to .env in the repository root and edit as needed.
# FOREVER_FAIR_CATCHMENT=Tianqiao
FOREVER_FAIR_CATCHMENT=Tiny_demonstration
